<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>stash vr companion</title>
      {% block headers %}{% endblock %}
</head>
<body>
{% block nav %}
<div class="nav">
<div class="nav-left">

{% for f in filters %}
{% if f['name'] == session['filter'] %}
    {% if f['enabled']%}
    <b>{{ f['name'] }}</b>
        {% else %}
        <strike><b>{{ f['name'] }}</b></strike>
    {% endif %}
{% else %}
    {% if session['mode']=='deovr' %}
            {% if f['enabled']%}
<a href="/filter/{{ f['name'] }}">{{ f['name'] }}</a>
                {% else %}
                <strike><a href="/filter/{{ f['name'] }}">{{ f['name'] }}</a></strike>
                   {% endif %}
    {% else %}
<a href="/gizmovr/{{ f['name'] }}">{{ f['name'] }}</a>
    {% endif %}
{% endif %}
{% endfor %}
</div>
<div class="nav-right">
    <a href="/hsp">hsp</a>
    <a href="/config">config</a>
    <a href="/logout">Logout</a>
</div>
{% endblock %}
<div class="main">
  {% block content %}{% endblock %}
</div>
</body>
</html>