{% extends 'base.html' %}
{{ session['filter'] }}
{% block content %}
{% if session['filter']['type']=='PERFORMER' %}
    <a href="/performer/{{ session['filter']['performer_id'] }}"><h1>{{ session['filter']['name'] }}</h1></a>
{%  elif session['filter']['type'] =='STUDIO' %}
    <a href="/studio/{{ session['filter']['studio_id'] }}"><h1>{{ session['filter']['name'] }}</h1></a>
{%  elif session['filter']['type'] =='TAG' %}
    <b><a href="/tag/{{ session['filter']['id'] }}"><h1>{{ session['filter']['name'] }}</h1></a></b>
{%  else %}
    <h1>{{ session['filter']['name'] }}</h1>

{%  endif %}






{% if scenes%}
<div class="grid-container">

{% for scene in scenes %}
  <div class="grid-item">

<a href="/scene/{{ scene['id'] }}">
    <img src="{{ scene["paths"]["screenshot"] }}" width="200" height="150"/>
    <p>{{ scene['title'] }}</p>

</a>


</div>

{% endfor %}
</div>


{% else %}
<h1> No Scenes with tags</h1>
{% endif %}
<ul>


</ul>

{% endblock %}