<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>stash vr companion</title>

</head>
<body>

<div>{% for f in filters %}
{% if f== filter %}
    <b>{{ f['name'] }}</b>
    current!
{% else %}
<a href="/filter/{{ f['name'] }}">{{ f['name'] }}</a>
{% endif %}
{% endfor %}
</div>
<hr/>

{% if performer%}
<h1>{{ performer['name'] }}</h1>
    <img alt="Performer" container="" src="{{ performer["image_path"] }}"/>
    <br/>
    {% if performer['isPinned'] %}
        Pinned
        {% else %}
        Not Pinned
        {% endif %}

    {% else %}
    performer not found

{% endif%}


</body>
</html>