{% extends 'base.html' %}

{% block content %}
{% if performer%}
<h1>{{ performer['name'] }}</h1>
    <img alt="Performer" container="" src="{{ performer["image_path"] }}"/>
    <br/>
    {% if performer['isPinned'] %}
        Pinned
        {% else %}
        Not Pinned
        {% endif %}
 {% for scene in scenes %}
  <div class="grid-item">

<a href="/scene/{{ scene['id'] }}">
    <img src="{{ scene["paths"]["screenshot"] }}" width="200" height="150"/>
    {%  if scene["interactive"] %}
            <br/>
        <img src="{{ scene["heatmap"] }}" width="200" height="20" />
    {% endif %}
    <p>{{ scene['title'] }}</p>

</a>


</div>

{% endfor %}

{% else %}
performer not found

{% endif%}
{% endblock %}
