{% extends 'base.html' %}
{% block content %}
{% if scene%}
<h1>{{ scene['title'] }}</h1>
    <img src="{{ scene["image"] }}"/>
    <br/>
    {%  if scene["interactive"] %}
        <img src="{{ scene["heatmap"] }}"/>
        <br/>
    {% endif %}
    {% if scene["is3d"] %}
        Scene Type: <b>VR</b>
{% else %}
        Scene Type: <b>2D</b>
{% endif %}
    <b>{{ scene['screenType'] }}</b>
    <br/>
    Performers:
    {%  for p in scene['performers'] %}
        <b><a href="/performer/{{ p['id'] }}">{{ p['name'] }}</a></b>
    {% endfor %}
    <br/>

    <form action="?" method="POST">
        Rating: <select name="rating" onchange="this.form.submit()">
        {%  for r in [0,1,2,3,4,5] %}
        {% if r==scene['rating'] %}
        <option value="r" selected>{{ r }}</option>
            {% else %}
        <option value="{{ r }}">{{ r }}</option>
            {% endif %}
        {% endfor %}
    </select>
    </form>
    {% if enabled %}
    <a href="/scene/{{ scene['id'] }}?enabled=False">Disable</a>
        {% else %}
    <a href="/scene/{{ scene['id'] }}?enabled=True">Enable</a>
        {% endif %}
    <ul>
        {%  for sm in scene['scene_markers'] %}
            <li>{{ sm['title'] }} - {{ sm['seconds'] }}    <a href="/scene/{{ scene['id'] }}?remove-marker={{ sm['id'] }}">remove</a></li>
    {% endfor %}</ul>
    Description:<p>{{ scene['details'] }}</p>
{% else %}
<h1> Error connecting to stash</h1>
{% endif %}
{% endblock %}
