{% extends 'base.html' %}
{% block content %}
{% if scene%}
<h1>{{ scene['title'] }}</h1>
    <img src="{{ scene["paths"]["screenshot"] }}"/>
    <br/>
    {%  if scene["interactive"] %}
        <img src="{{ scene["paths"]["interactive_heatmap"] }}"/>
        <br/>
    {% endif %}
    {% if scene["is3d"] %}
        Scene Type: <b>VR</b>
{% else %}
        Scene Type: <b>2D</b>
{% endif %}
    <b>{{ scene['screenType'] }}</b>
    <br/>
    Performers:
    {%  for p in scene['performers'] %}
        <b><a href="/performer/{{ p['id'] }}">{{ p['name'] }}</a></b>
    {% endfor %}
    <br/>
    Description:<p>{{ scene['details'] }}</p>
{% else %}
<h1> Error connecting to stash</h1>
{% endif %}
{% endblock %}
